html, body{
    margin: 0;
    padding: 0;
}
* {
    font-family: "Trebuchet MS" , sans-serif;
}
.header,
.header-links,
.first-part,
.images-with-text,
.fourth-part,
.image{
    display: flex;
}
.header div {
    flex: 1;
}
.first-part .paragraph {
    width: 700px;
}

.footer {
    text-align: center;
}
.header,
.first-part{
    background-color: #1F2937;
    /*color: white;*/
    font-family: "Trebuchet MS" , sans-serif;
    padding-left: 150px;
    color: #f9faf8;
}
.first-part {
    padding-top: 70px;
    padding-bottom: 70px;
}
.image {
    justify-content: center;
    align-content: center;
    margin: auto;
    padding-left: 120px;
}
.meatloaf-image {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.header-links a {
    margin: auto;
    color: #f9fbff;
}
.header-links {
    padding-left: 500px;
}
.header {
    position: sticky;
    top: 0;
    opacity: 0.9;
}
.paragraph {
    text-align: justify;
    max-width: 600px;
    color: #f9faf8;
}
.sign-up {
    font-size: 15px;
    border-radius: 10px;
    background-color: dodgerblue;
    font-family: Alata, sans-serif;
}
.second-part {
    background-color: white;
    text-align: center;
    margin-bottom: 40px;
}
.second-part h2 {
    font-size: 36px;
    font-weight: bolder;
    font-family: "Trebuchet MS" , sans-serif;
    color: #1F2937;
}
.images-with-text {
    max-height: 480px;
    max-width: 480px;
    /*align-items: center;*/
    justify-content: center;
    /*text-align: center;*/
    margin: auto;
}

.images img {
    height: 200px;
    width: 300px;
    /*display: block;*/
    padding: 15px;
    border-radius: 24px;
}
.images p {
    font-family: "Trebuchet MS" , sans-serif;
    font-size: 14px;
    opacity: 0.9;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -5px;
}
.third-part {
    text-align: center;
    background-color: #e5e7eb;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 35px 350px 35px 350px;

}
.third-part p {
    font-style: italic;
    font-weight: lighter;
    opacity: 0.65;
    text-align: justify;
    font-size: 30px;
    max-height: available;
    max-width: available;
    line-height: 40px;
}
.footer {
    background-color: #1F2937;
    text-align: center;
    color: #f9faf8;
    padding: 5px;
}
.footer p {
    opacity: 0.7;
}
.fourth-part {
    margin: 60px 300px 60px 300px;
    border-radius: 10px;
    background-color: dodgerblue;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 20px 40px 20px 40px;
    color: #f9faf8;

}
.button-signup {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
}

#par {
    margin-top: -10px;
}



